/* Enter your custom styles here */
.jwoUiMediumMarginBegin {
    margin-left: 100rem !important;
    background: blue ;
}
.jwoUiBigMarginTopBottom {
    margin-top: 20rem !important;
    margin-bottom: 20rem !important;
}

.jwoPinkBackground{
    background: rgb(212, 143, 203) ;
}